*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #ffe2cd, #fec2e7, #c9e7ff, #88fef4);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-items: center;
}
